body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
.app-component{
  background: #ccc;
  padding: 10px;
}
.parent-component{
  background: rgb(146, 176, 233);
  padding: 10px;
}
.child-component{
  background: rgb(218, 78, 120);
  padding: 10px;
}